.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom right, #f3d9dc, #d7bea8);
}

.login-container {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 8px 20px rgba(116, 66, 83, 0.3);
    text-align: center;
    width: 300px;
    border: 2px solid #c78283;
}

.login-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #744253;
  font-size: 26px;
  margin-bottom: 20px;
}

.login-header h2 {
  margin: 0;
  font-weight: bold;
  color: #b49286;
}
.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .input-group label {
    font-weight: 600;
    color: #744253;
    margin-bottom: 5px;
  }
  
  .input-group input {
    width: 96%;
    padding: 5px 5px;
    border: 2px solid #b49286;
    border-radius: 6px;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .input-group input:focus {
    border-color: #b49286;
  }
  
  .forgot-password {
    align-self: flex-end;
    font-size: 12px;
    color: #744253;
    text-decoration: none;
    margin-bottom: -6px;
  }
  .new-user {
    align-self:normal;
    font-size: 12px;
    color: #744253;
    text-decoration: none;
    margin-bottom: -6px;
  }
  .forgot-password:hover ,.new-user:hover {
    text-decoration: underline;
  }
  
  .button-group {
    display: flex;
    justify-content: center;
  }
  
  .button-group button {
    width: 100%;
    padding: 10px;
    background-color: #f3d9dc;
    border: none;
    border-radius: 6px;
    color: #744253;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button-group button:hover {
    background-color: #c78283;
    color: #ffffff;
  }
  
  span {
    color: #744253;
    font-weight: 600;
    font-size: 12px;
  }
  .password-wrapper {
    position: relative;
    width: 100%;
  }
  
  .password-wrapper input {
    padding-right: 5px;
  }
  
  .password-wrapper span {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #744253;
  }
  